@media only screen and (min-width:1255px){
  .disc{
      position: relative;
      right: 13.3rem;
  }
}
/*.header{
    float: left;
}
.meta{
    display: block;
    float: left;
}
.description{
    float: left;
}*/
.carddisc{
    width: 50vw !important;
    height:25vh !important;
}
.add_btn{
    margin-left: 1rem !important;
}
.conc{
    margin-top: 10vh;
}
.disc{
    display: flex;
    flex-direction: column;
}
.account{
    float: right;
}
.ui.inverted.segment{
    height: 50px;
}
@media only screen and (max-width:400px){
    .carddisc{
        width: 100% !important;
        height:fit-content !important;
    }
  }
  .company-logo{
    font-weight: 700;
}